
.cards{
    box-shadow: 10px 10px gainsboro;
    margin-bottom: 10px ;
    margin-top: 20px ;
    background-color: whitesmoke; 
}

.text {
    text-align: center;
    margin-top: 20px;
    font: helvetica;
}

.form {
    margin-top: 40px;
}

