/* box */
.box {
    padding: 15px;
    border-radius: 8px;/*arredondamento*/
    background: #efefef;
    text-align: center;
}
.box div {
    width: 120px;
    height: 120px;
    padding: 30px 0;
    margin: 0 auto; /*centralizar*/
    border: 5px solid #fff;
    background: #efefef;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

}