/* Grid */

.container {
    max-width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    box-sizing: border-box;
}/*Usar sempre no pai de elementos que flutuam*/
.clearfix:before,
.clearfix::after,
.row::before,
.row:after{
    content: "";/*conteudo vazio*/
    display: table;
    clear:both;
}
.row {
    margin-left: -15px;
    margin-right: -15px;/*margem negativa para tirar espaçacamento dentro do texto(coluna)*/
}
.col {/*classe col generica*/
    width: 50%;
    padding-left: 15px; /*espacamento que faz parte do elemento*/
    padding-right: 15px /*espaçamento que faz parte do elemento*/;
    float: left;
    box-sizing: border-box;/*corrigindo as bordas padding*/
}
.col-1 {
    width: 8.3333333333%;/*100/12 colunas = 8,3333333 largura*/
}
.col-2 {
    width: 16.6666666667%;/*100/12 colunas = 8,3333333 largura*/
}
.col-3 {
    width: 25%;/*100/12 colunas = 8,3333333 largura*/
}
.col-4 {
    width: 33.333333333%;/*100/12 colunas = 8,3333333 largura*/
}
.col-5 {
    width: 41.666666667%;/*100/12 colunas = 8,3333333 largura*/
}
.col-6 {
    width: 50%;/*100/12 colunas = 8,3333333 largura*/
}
.col-7 {
    width: 58.333333333%;/*100/12 colunas = 8,3333333 largura*/
}
.col-8 {
    width: 66.666666667%;/*100/12 colunas = 8,3333333 largura*/
}
.col-9 {
    width: 70%;/*100/12 colunas = 8,3333333 largura*/
}
.col-10 {
    width: 83.333333333%;/*100/12 colunas = 8,3333333 largura*/
}
.col-11 {
    width: 91.666666667%;/*100/12 colunas = 8,3333333 largura*/
}
.col-12 {
    width: 100%;/*100/12 colunas = 8,3333333 largura*/
    text-align: center;
    
}
@media(min-width: 640px){
    
    .col-md-1 {
        width: 8.3333333333%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-md-2 {
        width: 16.6666666667%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-md-3 {
        width: 25%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-md-4 {
        width: 33.333333333%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-md-5 {
        width: 41.666666667%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-md-6 {
        width: 50%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-md-7 {
        width: 58.333333333%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-md-8 {
        width: 66.666666667%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-md-9 {
        width: 70%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-md-10 {
        width: 83.333333333%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-md-11 {
        width: 91.666666667%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-md-12 {
        width: 100%;/*100/12 colunas = 8,3333333 largura*/
        text-align: center;
    }
}

@media(min-width: 1080px){
    
    .col-lg-1 {
        width: 8.3333333333%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-lg-2 {
        width: 16.6666666667%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-lg-3 {
        width: 25%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-lg-4 {
        width: 33.333333333%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-lg-5 {
        width: 41.666666667%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-lg-6 {
        width: 50%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-lg-7 {
        width: 58.333333333%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-lg-8 {
        width: 66.666666667%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-lg-9 {
        width: 70%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-lg-10 {
        width: 83.333333333%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-lg-11 {
        width: 91.666666667%;/*100/12 colunas = 8,3333333 largura*/
    }
    .col-lg-12 {
        width: 100%;/*100/12 colunas = 8,3333333 largura*/
    }
}